<%- include("../partials/head") %>
    <link rel="stylesheet" href="assets/css/index/index.css">
</head>
<body>
    <div id="wrapper">
        <%- include("../partials/header") %>
        <%- include("../partials/nav") %>
        <section class="category travel">
            <div class="category-h2-arrow">
                <h2>Travel</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert-travel hide">
                <!-- from api -->
            </div>
        </section>

        <section class="category europe">
            <div class="category-h2-arrow">
                <h2>Europe</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert-europe hide">
                <!-- from api -->
            </div>
        </section>
        
        <section class="category health">
            <div class="category-h2-arrow">
                <h2>Health</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert-health hide">
                <!-- from api -->
            </div>
        </section>
        
        <section class="category business">
            <div class="category-h2-arrow">
                <h2>Business</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert-business hide">
                <!-- from api -->
            </div>
        </section>
        
        <section class="category sports">
            <div class="category-h2-arrow">
                <h2>Sports</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert-sports hide">
                <!-- from api -->
            </div>
        </section>
        <button class="install-offline">Install this site</button>

        <%- include("../partials/footer") %>

<%- include("../partials/last") %>
