<%- include("../partials/head") %>
    <link rel="stylesheet" href="assets/css/index/index.css">
</head>
<body>
    <div id="wrapper">
        <%- include("../partials/header") %>
        <%- include("../partials/nav") %>
        <section class="category arts">
            <div class="category-h2-arrow">
                <h2>Arts</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert-arts hide">
                <!-- from api -->
            </div>
        </section>

        <section class="category home">
            <div class="category-h2-arrow">
                <h2>Home</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert-home hide">
                <!-- from api -->
            </div>
        </section>
        
        <section class="category science">
            <div class="category-h2-arrow">
                <h2>Science</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert-science hide">
                <!-- from api -->
            </div>
        </section>
        
        <section class="category us">
            <div class="category-h2-arrow">
                <h2>Us</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert-us hide">
                <!-- from api -->
            </div>
        </section>
        
        <section class="category world">
            <div class="category-h2-arrow">
                <h2>World</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert-world hide">
                <!-- from api -->
            </div>
        </section>
        <button class="install-offline">Install this site</button>

        <%- include("../partials/footer") %>
        <script src="assets/js/fetch.js"></script>

<%- include("../partials/last") %>
