<%- include("../partials/head") %>
    <link rel="stylesheet" href="assets/css/saved/saved-general.css">
</head>
<body>
    <div id="wrapper">
        <%- include("../partials/header") %>
        <%- include("../partials/nav") %>
        <h2 id="saved-text">You have not saved any news yet</h2>
        <section class="category arts hide">
            <div class="category-h2-arrow">
                <h2>Arts</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert insert-saved-arts hide">
                <!-- from api -->
            </div>
        </section>

        <section class="category home hide">
            <div class="category-h2-arrow">
                <h2>Home</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert insert-saved-home hide">
                <!-- from api -->
            </div>
        </section>
        
        <section class="category science hide">
            <div class="category-h2-arrow">
                <h2>Science</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert insert-saved-science hide">
                <!-- from api -->
            </div>
        </section>
        
        <section class="category us hide">
            <div class="category-h2-arrow">
                <h2>Us</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert insert-saved-us hide">
                <!-- from api -->
            </div>
        </section>
        
        <section class="category world hide">
            <div class="category-h2-arrow">
                <h2>World</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert insert-saved-world hide">
                <!-- from api -->
            </div>
        </section>

        <button class="install-offline">Install this site</button>

        <%- include("../partials/footer") %>
        <script src="assets/js/fetchSaved.js"></script>
<%- include("../partials/last") %>
