<%- include("../partials/head") %>
    <link rel="stylesheet" href="assets/css/saved/saved-general.css">
</head>
<body>
    <div id="wrapper">
        <%- include("../partials/header") %>
        <%- include("../partials/nav") %>
        <h2 id="saved-text">You have not saved any news yet</h2>
        <section class="category travel hide">
            <div class="category-h2-arrow">
                <h2>Travel</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert-saved-travel hide">
                <!-- from api -->
            </div>
        </section>

        <section class="category europe hide">
            <div class="category-h2-arrow">
                <h2>Europe</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert-saved-europe hide">
                <!-- from api -->
            </div>
        </section>
        
        <section class="category health hide">
            <div class="category-h2-arrow">
                <h2>Health</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert-saved-health hide">
                <!-- from api -->
            </div>
        </section>
        
        <section class="category business hide">
            <div class="category-h2-arrow">
                <h2>Business</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert-saved-business hide">
                <!-- from api -->
            </div>
        </section>
        
        <section class="category sports hide">
            <div class="category-h2-arrow">
                <h2>Sports</h2>
                <i class="fas fa-arrow-circle-down"></i>
            </div>
            <div class="insert-saved-sports hide">
                <!-- from api -->
            </div>
        </section>

        <%- include("../partials/footer") %>

<%- include("../partials/last") %>
