<%- include("../partials/head") %>
    <link rel="stylesheet" href="assets/css/settings/settings.css">
</head>
<body>
    <div id="wrapper">
        <%- include("../partials/header") %>
        <%- include("../partials/nav") %>
        <section id="settings">
            <div class="show-news">
                <h2>News Stories</h2>
                <ul>
                    <li>Travel <i class="fas fa-check"></i></li>
                    <li>Europe <i class="fas fa-check"></i></li>
                    <li>Heath <i class="fas fa-check"></i></li>
                    <li>Business <i class="fas fa-check"></i></li>
                    <li>Sports <i class="fas fa-check"></i></li>

                </ul>
            </div>
            <div class="choose-color">
                <h2>Theme Color</h2>
                <ul>
                    <li>Blue <input type="checkbox" name="blue" id="blue-bg" class="color-check" checked="true"></li>
                    <li>Grey <input type="checkbox" name="grey" id="grey-bg" class="color-check"></li>
                    <li>Green <input type="checkbox" name="green" id="green-bg" class="color-check"></li>
                    <li>Purple <input type="checkbox" name="purple" id="purple-bg" class="color-check"></li>
                </ul>
            </div>
            <h2></h2>
        
        </section>
        <%- include("../partials/footer") %>
        <script src="assets/js/checked.js"></script>

<%- include("../partials/last") %>

<!-- <i class="fas fa-times"></i> -->