<%- include("../partials/head") %>
    <link rel="stylesheet" href="assets/css/settings/settings.css">
</head>
<body>
    <div id="wrapper">
        <%- include("../partials/header") %>
        <%- include("../partials/nav") %>
        <section id="settings">
            <div class="show-news">
                <h2>News Stories</h2>
                <ul>
                    <li class="category-check" id="category-arts">Arts <i class="fas fa-check"></i></li>
                    <li class="category-check" id="category-home">Home <i class="fas fa-check"></i></li>
                    <li class="category-check" id="category-science">Science <i class="fas fa-check"></i></li>
                    <li class="category-check" id="category-us">Us <i class="fas fa-check"></i></li>
                    <li class="category-check" id="category-world">World <i class="fas fa-check"></i></li>
                </ul>
            </div>
            <div class="choose-color">
                <h2>Theme Color</h2>
                <ul>
                    <li id="blue-bg" class="color-check">Blue  <i class="fas fa-check blue-check"></i></li>
                    <li id="grey-bg" class="color-check">Grey <i class="fas fa-times grey-check"></i></li>
                    <li id="green-bg" class="color-check">Green <i class="fas fa-times green-check"></i></li>
                    <li id="purple-bg" class="color-check">Purple <i class="fas fa-times purple-check"></i></li>
                </ul>
            </div>        
        </section>

        <button class="install-offline">Install this site</button>

        <%- include("../partials/footer") %>

<%- include("../partials/last") %>

<!-- <i class="fas fa-times"></i> -->