<%- include("../partials/head") %>
    <link rel="stylesheet" href="assets/css/settings/settings.css">
</head>
<body>
    <div id="wrapper">
        <%- include("../partials/header") %>
        <%- include("../partials/nav") %>
        <section id="settings">
            <div class="show-news">
                <h2>News Stories</h2>
                <ul>
                    <li>Travel <i class="fas fa-check"></i></li>
                    <li>Europe <i class="fas fa-check"></i></li>
                    <li>Heath <i class="fas fa-check"></i></li>
                    <li>Business <i class="fas fa-check"></i></li>
                    <li>Sports <i class="fas fa-check"></i></li>

                </ul>
            </div>
            <div class="choose-color">
                <h2>Theme Color</h2>
                <ul>
                    <li>Blue <i class="fas fa-check"></i></li>
                    <li>Grey <i class="fas fa-times"></i></li>
                    <li>Green <i class="fas fa-times"></i></li>
                    <li>Purple <i class="fas fa-times"></i></li>
                </ul>
            </div>
            <h2></h2>
        
        </section>
        <%- include("../partials/footer") %>

<%- include("../partials/last") %>

<!-- <i class="fas fa-times"></i> -->